<div class="itinerary" data-equalizer-watch>
  <h2>Cruise Itinerary</h2>
  <hr>
  <div class="itinerary-item flex-container">
    <div class="left callout">
      <h5>Day 1</h5>
      <p>March 22</p>
    </div>
    <div class="right callout">
      <h5>Los Angeles</h5>
      <p>4PM - Departure</p>
    </div>
  </div>

  <div class="itinerary-item flex-container">
    <div class="left callout">
      <h5>Day 1</h5>
      <p>March 22</p>
    </div>
    <div class="right callout">
      <h5>Los Angeles</h5>
      <p>4PM - Departure</p>
    </div>
  </div>

  <div class="itinerary-item flex-container">
    <div class="left callout">
      <h5>Day 1</h5>
      <p>March 22</p>
    </div>
    <div class="right callout">
      <h5>Los Angeles</h5>
      <p>4PM - Departure</p>
    </div>
  </div>

  <div class="itinerary-item flex-container">
    <div class="left callout">
      <h5>Day 1</h5>
      <p>March 22</p>
    </div>
    <div class="right callout">
      <h5>Los Angeles</h5>
      <p>4PM - Departure</p>
    </div>
  </div>

  <div class="itinerary-item flex-container">
    <div class="left callout">
      <h5>Day 1</h5>
      <p>March 22</p>
    </div>
    <div class="right callout">
      <h5>Los Angeles</h5>
      <p>4PM - Departure</p>
    </div>
  </div>

  <p><em>More general information regarding the cruise (ie. parking, embarkation, disembarkation, etc.) will be added to this page closer to the cruise.</em></p>
</div>
