<div class="wedding-information" style="background-color: #ededed;" data-equalizer-watch>
  <h2>Wedding Information</h2>
  <hr>
  <div class="flex-container align-middle">
    <img src="http://placehold.it/100x100" alt="">
    <div>
      <p>The ceremony will take place at sea</p>
      <h4>Saturday March 24</h4>
    </div>
  </div>
  <div class="flex-container mt-1 align-middle">
    <img src="http://placehold.it/100x100" alt="">
    <div>
      <p>The ceremony will take place at sea</p>
      <h4>Saturday March 24</h4>
    </div>
  </div>
  <p><em>More information regarding the Wedding Ceremony and its associated events will be posted closer to the cruise. </em></p>
</div>
